body {
  background-color: #BEE9E8;
}
h1 {
  font-family: 'Unica One', sans-serif;
  font-size: 60px;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
}

p {
  font-family: 'Montserrat', cursive;
  font-size: 20px;
}

hr {
  border-color: black;
}
img.b {
  vertical-align: middle;
}


.h222 {
  font-size: 30px;
}

.navbar {
overflow: hidden;
background-color: #ffffff;
position: fixed; /* Set the navbar to fixed position */
top: 0;
width: 100%;
margin-top:0;
margin-left: -10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}
.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 32px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #59c3c3;
  color: white;
}

.navbar a.active {
  background-color: #59c3c3;
  color: white;
}


.main{
margin-top:120px;
}

.padding {
  padding: 20px;
}


.navbar2 {
overflow: hidden;
background-color: #ffffff;
top: 0;
width: 100%;
margin-top:0;
margin-left: -10px;
padding-left: 10px;
padding-right: 20px;
padding-bottom: 5px;
}
.navbar2 a {
  float: center;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 32px;
  text-decoration: none;
}
.navbar2 a:hover {
  background-color: #59c3c3;
  color: white;
  font-size: 30px;
}

.navbar2 a.active {
  background-color: #59c3c3;
  color: white;
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  color: black;
}

.block:hover {
  background-color: black;
  color: white;
}

.center {
  text-align: center;
}

.p222 {
  font-size: 35px;
}

table#table1 {
   width:100%;


 }



 .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
